.menu-container {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  margin-right: 10rem;
}

.menu-container img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-top: 1.8rem;
}

.options-box {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  min-width: 160px;
  background-color: #ffffff;
  border-radius: 8px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  padding: 6px 0;
  z-index: 1000;
}

.options-box button,
.options-box a {
  width: 100%;
  padding: 10px 16px;

  background: none;
  border: none;
  cursor: pointer;

  justify-content: left;
  text-align: left;
  color: black;
  font-family: "Poppins", sans-serif;
}
