.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-container header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding: 4rem;
}

table {
  border-collapse: collapse;
  background: #fff;
}

thead th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
  border-bottom: 2px solid #e5e7eb;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #f1f5f9;
}

tbody tr:hover {
  background-color: #f8fafc;
}

tbody button{
  height: 3rem;
  padding: 1rem;
}

